<div class="container text-center">
  <h1>Welcome to Your Skill Inventory!</h1>
  <ul class="list-unstyled list-inline">
    <li><a class="btn btn-info" href="/skills">Skill Inventory</a></li>
    <li><a class="btn btn-success" href="/skills/new">New Skill</a></li>
  </ul>
</div>
